<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="optional" class="java.util.Optional" factory-method="empty"/>


        <bean id="builder" class="org.apache.solr.client.solrj.impl.CloudSolrClient.Builder">
            <constructor-arg index="0" name="zkHosts">
                <list>
                    <value>${solr.zookeeper.host1}</value>
                    <value>${solr.zookeeper.host2}</value>
                    <value>${solr.zookeeper.host3}</value>
                </list>
            </constructor-arg>
            <constructor-arg index="1" name="zkChroot" ref="optional"/>
        </bean>

        <bean id="solrClient" factory-bean="builder" factory-method="build">
            <property name="defaultCollection" value="mycollection"/>
        </bean>
</beans>